.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 13px 24px;
  background-color: #6a4a99;
  color: white;
  text-decoration: none;
  font-size: 40px;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.2s;
  cursor: pointer;
  border: none;
}

/* Estilo del texto dentro del botón */
.cta span {
  margin: 10px;
}

/* Cambio de color al pasar el mouse */
.cta:hover {
  background-color: #7a5ba6;
  transform: scale(1.05);
}

/* Animación de la flecha al pasar el mouse */
.cta:hover svg {
  transform: translateX(5px);
}
