html, body {
    height: 100%;
  }
  
  body {
    display: grid;
    font-family: Avenir, sans-serif;
    color: #ffffff;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .cta {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #ac75d0; /* Color de fondo inicial */
    color: white; /* Color del texto */
    text-decoration: none; /* Quitar subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
  }

  .cta span {
    position: relative;
    font-size: 20px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  .cta:hover {
    background-color: #f700ff; /* Color de fondo al pasar el mouse */
    color: white; /* Color del texto al pasar el mouse */
  }