/* Estilo general del fondo */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@font-face {
    font-family: 'Edwardian Script ITC';
    src: url('../images/edwardianscriptitc.ttf') format('truetype');
}


body {
    background-image: url('../images/mariposas.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

/* Contenedor principal que contiene las divisiones */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.division {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Primera divisi칩n (para el texto "XV a침os Rocio") */
.division-1 {
    position: relative;
    height: 100vh;
}

.division-1 h1 {
    font-size: 48px;
    color: #6a4a99;
    position: relative;
}

.grande {
    font-size: 250px;
    margin-top: 100px;
    color: rgba(106, 74, 153, 0.3);
    display: inline-block;
}

.mis {
    font-size: 100px;
    color: #7a5ba6;
    margin-top: 100px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.nombre {
    display: block;
    font-size: 200px;
    color: #7a5ba6;
    margin-top: -20px;
    position: relative;
    top: -10px;
    left: -20px;
    font-family: 'Edwardian Script ITC', cursive;
    margin-bottom: 100px;
}

/* Segunda division */
.division-2 {
    color: #6a4a99;
    position: relative; 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    padding-bottom: 150px;
    font-family: 'Great Vibes', cursive;
    height: 100h;
}

.division-2 h2 {
    max-width: 750px;
    line-height: 1.5;
    text-align: justify;
    margin: 0 auto;
    font-size: 48px;
}

/* Tercera divisi칩n */
.division-3 {
    color: #6a4a99;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100h;
}

.division-3 h2 {
    font-size: 200px;
    color: #7a5ba6;
    margin-top: 0;
    position: relative;
    top: 0;
    left: -21px; 
    font-family: 'Edwardian Script ITC', cursive;
}

.division-3 h3{
    font-size: 50px;
    color: #7a5ba6;
    position: relative;
    top: -50px; 
}

.hora {
    color: #7a5ba6;
    position: relative;
    text-align: center;
    font-size: 30px;
}

.hora .icon img {
    width: 75px;
}

.division-4 {
    text-align: center;
    padding-bottom: 50px;
    display: block;
}

.division-4 h1{
    font-size: 200px; 
    margin-bottom: 30px;
    color: #7a5ba6;
    font-family: 'Edwardian Script ITC', cursive;
}

.contador {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: #7a5ba6;
    font-weight: bold;
}

.tiempo {
    margin: 0 40px;
}

.tiempo p {
    font-size: 25px;
    color: #7a5ba6;
}

.cronometro {
    width: 150px;
}

.division-5 {
    text-align: center;
    padding-bottom: 50px;
    display: block;
    margin-bottom: 500px;
}

.division-5 h2 {
    font-size: 105px;
    color: #7a5ba6;
    left: -30px;
    position: relative;
    font-family: 'Edwardian Script ITC', cursive;
}

/* Media Queries para Samsung A20 (m치ximo 720px de ancho) */
@media (max-width: 554px) {
    body{
        max-width: 100vh; 
    }

    .division-1 h1 {
        max-width: 100vh;
        font-size: 30px;
    }

    .grande {
        font-size: 120px;
        margin-top: 30px;
        max-width: 100vh;
    }

    .mis {
        font-size: 50px;
        top: -30px;
        max-width: 100vh;
    }

    .nombre {
        font-size: 100px;
        top: 50px;
        max-width: 100vh;
        margin-bottom: 30px;
    }

    .division-2 h2 {
        font-size: 28px;
        padding: 15px;
        max-width: 100vh;
    }

    .division-3 h2 {
        font-size: 80px;
        max-width: 100vh;
    }

    .division-3 h3 {
        font-size: 24px;
        max-width: 100vh;
    }

    .hora {
        font-size: 20px;
        max-width: 100vh;    
    }

    .division-4 h1 {
        font-size: 120px;
        max-width: 100vh; 
        
    }

    .contador {
        font-size: 50px;
        max-width: 100vh; 
    }

    .tiempo p {
        font-size: 18px;
        max-width: 100vh; 
    }

    .division-5 {
        text-align: center;
        padding-bottom: 50px;
        max-width: 100vh; 
        display: block;
    }

    .division-5 h2 {
        font-size: 70px;
        max-width: 100vh; 
    }
}



